$light: #FAF7F1;
$dark: #1D1C3A;
$primary: #222FFC;

@keyframes float {
    0% {
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
    }
    50% {
        transform: translateY(15px);
        -webkit-transform: translateY(15px);
        -moz-transform: translateY(15px);
        -ms-transform: translateY(15px);
        -o-transform: translateY(15px);
    }
    100% {
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
    }
    
}

html {
    scroll-behavior: smooth;
}

.point {
    width: 30px;
    height: 30px;
    border: 4px solid $dark;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    transition: 0.3s;
    -webkit-transition: 0.3S;
    -moz-transition: 0.3S;
    -ms-transition: 0.3S;
    -o-transition: 0.3S;
}

.btn-dark-bldng {
    background-color: $dark !important;
    border: 1px solid $dark !important;
    color: $light !important;
    padding: 15px 30px !important;
    border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    -ms-border-radius: 0 !important;
    -o-border-radius: 0 !important;

    svg {
        margin-left: 20px;
    }
}

.btn-white-bldng {
    background-color: $light !important;
    border: 1px solid $light !important;
    color: $dark !important;
    padding: 15px 30px !important;
    border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    -ms-border-radius: 0 !important;
    -o-border-radius: 0 !important;

    svg {
        margin-left: 20px;

        path {
            fill: $dark;
        }
    }
}

img {
    width: 100%;
}

h4 {
    font-weight: bold !important;
    color: $dark;

    svg {
        margin-right: 15px;
    }
}

* {
    overflow-x: hidden;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: $light !important;
}

@media only screen and (max-width: 768px) {
    h4 svg {
        display: none;
    }

}

.active_menu {
    right: 0 !important;
}

#menu_res {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    right: 101vw;
    background: $dark;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9999999;
    gap: 20px;
    text-align: center;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;

    a {
        font-weight: bold;
        color: $light;
        text-decoration: none;
    }

    .close {
        position: absolute;
        top: 20px;
        right: 20px;
        color: $light;
        font-weight: 600;
        font-size: 20px;
    }
}

header {
    z-index: 999999;
    position: fixed;
    left: 0;
    top: 0;
    padding: 30px 5vw;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(180deg, #FAF7F1 0%, rgba(250, 247, 241, 0) 100%);

    .logo {
        width: 200px;
    }

    .menu {
        display: flex;
        align-items: center;
        gap: 40px;

        a {
            font-weight: bold;
            color: $dark;
            text-decoration: none;
        }
    }

    .burger {
        display: none;
    }
}

@media only screen and (max-width: 768px) {
    #menu_res {
        display: flex;
    }
    header {
        padding: 20px 4vw;
        background: $light;

        .menu {
            display: none;
        }
        

        .burger {
            display: block;
        }
    }
}


#hero {
    position: relative;
    width: 100vw;

    .overlay {
        position: absolute;
        width: 100%;
        height: 150px;
        z-index: 2;
        bottom: 0;
        left: 0;
        background: linear-gradient(180deg, rgba(250, 247, 241, 0) 0%, $light 100%);
    }

    .text {
        position: absolute;
        left: 8vw;
        bottom: 8vh;
        z-index: 3;
        width: 90vw;
        max-width: 700px;
        
        h1 {
            overflow-y: hidden;
            font-size: calc(max(5vw, 40px));
            font-weight: 800;
            color: $dark;
            line-height: 100%;
        }
        p {
            overflow-y: hidden;
            color: $dark;
        }
    }

    .scroll_div {
        text-decoration: none;
        z-index: 10;
        cursor: pointer;
        position: absolute;
        right: 8vw;
        bottom: 8vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 5px;
        height: 120px;
        width: 120px;
        border: 2px solid $dark;
        border-radius: 100%;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        -ms-border-radius: 100%;
        -o-border-radius: 100%;
        transition: 0.3s;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        -ms-transition: 0.3s;
        -o-transition: 0.3s;
        
        span {
            font-size: 10px;
            font-weight: 800;
            color: $dark;
            transition: 0.3s;
            -webkit-transition: 0.3s;
            -moz-transition: 0.3s;
            -ms-transition: 0.3s;
            -o-transition: 0.3s;
        }

        svg {
            width: 15px;
            height: 15px;
            transition: 0.3s;
            -webkit-transition: 0.3s;
            -moz-transition: 0.3s;
            -ms-transition: 0.3s;
            -o-transition: 0.3s;
        }

    }

    .scroll_div:hover {
        background-color: $dark;

        span {
            color: $light;
        }

        svg path {
            fill: $light;
        }
    }

    canvas {
        z-index: 1;
    }

    @media only screen and (max-width: 768px) {
        .text {
            left: 5vw;
            text-align: center;
            bottom: 15vh;
        
            p {
                font-size: 14px;
            }
        }
        
        .scroll_div {
            text-decoration: none;
            z-index: 10;
            cursor: pointer;
            position: absolute;
            right: 0;
            left: 0;
            margin: auto;
            bottom: 2vh;
            height: 120px;
            width: 120px;
            border: none;
            
            span {
                font-size: 10px;
                font-weight: 800;
                color: $dark;
            }
    
            svg {
                width: 15px;
                height: 15px;
            }
    
        }

    }
}

#gamified_history {
    padding: 100px 0 0;

    .text-center {
        overflow-y: hidden;
    }

    .rock {
        padding: 20px 0;
        width: 50%;
        animation: float 3s infinite ease-in-out;
        -webkit-animation: float 3s infinite ease-in-out;
}

    @media only screen and (max-width: 768px) {

        .rock {
            margin-top: 50px;
        }

        .row {
            flex-direction: column-reverse;
        }

        .col-md-6 {
            text-align: center;
        }
    }

}

#technology {
    padding: 120px 0 0;

    .map {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: url("../assets/cursor.svg");
        
        .triangle {
            opacity: 0.2;
            z-index: 1;
        }

        .hint {
            display: block;
            font-weight: bold;
        }

        p {
            display: none;
            position: absolute;
            text-align: center;
            padding: 0 6vw;
            margin: 0;
        }
    }

    #comm_shape {
        cursor: url('');
    }

    @media only screen and (max-width: 768px) {
        .col-lg-5 {
            text-align: center;
        }

        .map {
            p {
                font-size: 14px;
            }
        }
    }
}

#community_owned {
    padding: 200px 0 0;
    position: relative;
    overflow-y: hidden;
    z-index: 9;

    h2 {
        overflow-y: hidden;
        color: $dark;
        font-weight: 900 !important;
        font-size: calc(max(3vw, 30px));
        line-height: 100%;
    }

    .text-center {
        width: 90vw;
        max-width: 900px;
        margin: auto;
    }

    .element_1 {
        animation: float 5s infinite ease-in-out;
        position: absolute;
        width: 200px;
        right: 10vw;
        top: 10vh;
        -webkit-animation: float 5s infinite ease-in-out;
}

    .element_2 {
        position: absolute;
        width: 200px;
        left: 10vw;
        animation: float 3s infinite ease-in-out;
        -webkit-animation: float 3s infinite ease-in-out;
}

    @media only screen and (max-width: 768px) {
        .element_1 {
            position: absolute;
            width: 100px;
            right: 6vw;
            top: 3vh;
        }

        .element_2 {
            position: absolute;
            width: 100px;
            left: 5vw;
            top: 12vh;
        }
    }
    
}

#half_float {
    position: relative;

    .light {
        background: $light;
        height: 200px;
        width: 100%;
    }

    .dark {
        background: $dark;
        height: 200px;
        width: 100%;
    }

    .element_3 {
        position: absolute;
        width: 250px;
        right: 25vw;
        top: 20%;
        z-index: 9;
        animation: float 4s infinite ease-in-out;
        -webkit-animation: float 4s infinite ease-in-out;
    }

    @media only screen and (max-width: 768px) {
        .light, .dark {
            height: 100px;
        }
        .element_3 {
            width: 150px;
            top: 10%;
        }
    }
}

footer {
    padding: 0px 0 80px;
    background-color: $dark;

    .text-center {
        padding-bottom: 100px;
        h2 {
            text-align: center;
            color: $light;
            font-size: calc(max(3vw, 30px));
            overflow-y: hidden;
    
            b {
                color: #308CF5;
            }
        }
    }

    .info {
        p {
            color: $light;
            font-size: 22px;
        }

        a {
            color: $light;
            font-size: 18px;
        }
    }

    .right {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;

        p {
            color: $light;
            font-size: 18px;
            margin: 0;
        }
    }

    @media only screen and (max-width: 768px) {
        .logo {
            width: 70%;
            margin-bottom: 30px;
        }

        .col-12 {
            text-align: center;
        }

        .right {
            margin-top: 50px;
            align-items: center;
        }
    }

}