@-webkit-keyframes float {
  0% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
  50% {
    transform: translateY(15px);
    -webkit-transform: translateY(15px);
    -moz-transform: translateY(15px);
    -ms-transform: translateY(15px);
    -o-transform: translateY(15px);
  }
  100% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
}

@keyframes float {
  0% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
  50% {
    transform: translateY(15px);
    -webkit-transform: translateY(15px);
    -moz-transform: translateY(15px);
    -ms-transform: translateY(15px);
    -o-transform: translateY(15px);
  }
  100% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
}

html {
  scroll-behavior: smooth;
}

.point {
  width: 30px;
  height: 30px;
  border: 4px solid #1D1C3A;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transition: 0.3S;
  -moz-transition: 0.3S;
  -ms-transition: 0.3S;
  -o-transition: 0.3S;
}

.btn-dark-bldng {
  background-color: #1D1C3A !important;
  border: 1px solid #1D1C3A !important;
  color: #FAF7F1 !important;
  padding: 15px 30px !important;
  border-radius: 0 !important;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  -ms-border-radius: 0 !important;
  -o-border-radius: 0 !important;
}

.btn-dark-bldng svg {
  margin-left: 20px;
}

.btn-white-bldng {
  background-color: #FAF7F1 !important;
  border: 1px solid #FAF7F1 !important;
  color: #1D1C3A !important;
  padding: 15px 30px !important;
  border-radius: 0 !important;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  -ms-border-radius: 0 !important;
  -o-border-radius: 0 !important;
}

.btn-white-bldng svg {
  margin-left: 20px;
}

.btn-white-bldng svg path {
  fill: #1D1C3A;
}

img {
  width: 100%;
}

h4 {
  font-weight: bold !important;
  color: #1D1C3A;
}

h4 svg {
  margin-right: 15px;
}

* {
  overflow-x: hidden;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: #FAF7F1 !important;
}

@media only screen and (max-width: 768px) {
  h4 svg {
    display: none;
  }
}

.active_menu {
  right: 0 !important;
}

#menu_res {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  right: 101vw;
  background: #1D1C3A;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 9999999;
  gap: 20px;
  text-align: center;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

#menu_res a {
  font-weight: bold;
  color: #FAF7F1;
  text-decoration: none;
}

#menu_res .close {
  position: absolute;
  top: 20px;
  right: 20px;
  color: #FAF7F1;
  font-weight: 600;
  font-size: 20px;
}

header {
  z-index: 999999;
  position: fixed;
  left: 0;
  top: 0;
  padding: 30px 5vw;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left top, left bottom, from(#FAF7F1), to(rgba(250, 247, 241, 0)));
  background: linear-gradient(180deg, #FAF7F1 0%, rgba(250, 247, 241, 0) 100%);
}

header .logo {
  width: 200px;
}

header .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}

header .menu a {
  font-weight: bold;
  color: #1D1C3A;
  text-decoration: none;
}

header .burger {
  display: none;
}

@media only screen and (max-width: 768px) {
  #menu_res {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header {
    padding: 20px 4vw;
    background: #FAF7F1;
  }
  header .menu {
    display: none;
  }
  header .burger {
    display: block;
  }
}

#hero {
  position: relative;
  width: 100vw;
}

#hero .overlay {
  position: absolute;
  width: 100%;
  height: 150px;
  z-index: 2;
  bottom: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(250, 247, 241, 0)), to(#FAF7F1));
  background: linear-gradient(180deg, rgba(250, 247, 241, 0) 0%, #FAF7F1 100%);
}

#hero .text {
  position: absolute;
  left: 8vw;
  bottom: 8vh;
  z-index: 3;
  width: 90vw;
  max-width: 700px;
}

#hero .text h1 {
  overflow-y: hidden;
  font-size: calc(max(5vw, 40px));
  font-weight: 800;
  color: #1D1C3A;
  line-height: 100%;
}

#hero .text p {
  overflow-y: hidden;
  color: #1D1C3A;
}

#hero .scroll_div {
  text-decoration: none;
  z-index: 10;
  cursor: pointer;
  position: absolute;
  right: 8vw;
  bottom: 8vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
  height: 120px;
  width: 120px;
  border: 2px solid #1D1C3A;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

#hero .scroll_div span {
  font-size: 10px;
  font-weight: 800;
  color: #1D1C3A;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

#hero .scroll_div svg {
  width: 15px;
  height: 15px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

#hero .scroll_div:hover {
  background-color: #1D1C3A;
}

#hero .scroll_div:hover span {
  color: #FAF7F1;
}

#hero .scroll_div:hover svg path {
  fill: #FAF7F1;
}

#hero canvas {
  z-index: 1;
}

@media only screen and (max-width: 768px) {
  #hero .text {
    left: 5vw;
    text-align: center;
    bottom: 15vh;
  }
  #hero .text p {
    font-size: 14px;
  }
  #hero .scroll_div {
    text-decoration: none;
    z-index: 10;
    cursor: pointer;
    position: absolute;
    right: 0;
    left: 0;
    margin: auto;
    bottom: 2vh;
    height: 120px;
    width: 120px;
    border: none;
  }
  #hero .scroll_div span {
    font-size: 10px;
    font-weight: 800;
    color: #1D1C3A;
  }
  #hero .scroll_div svg {
    width: 15px;
    height: 15px;
  }
}

#gamified_history {
  padding: 100px 0 0;
}

#gamified_history .text-center {
  overflow-y: hidden;
}

#gamified_history .rock {
  padding: 20px 0;
  width: 50%;
  animation: float 3s infinite ease-in-out;
  -webkit-animation: float 3s infinite ease-in-out;
}

@media only screen and (max-width: 768px) {
  #gamified_history .rock {
    margin-top: 50px;
  }
  #gamified_history .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  #gamified_history .col-md-6 {
    text-align: center;
  }
}

#technology {
  padding: 120px 0 0;
}

#technology .map {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: url("../assets/cursor.svg");
}

#technology .map .triangle {
  opacity: 0.2;
  z-index: 1;
}

#technology .map .hint {
  display: block;
  font-weight: bold;
}

#technology .map p {
  display: none;
  position: absolute;
  text-align: center;
  padding: 0 6vw;
  margin: 0;
}

#technology #comm_shape {
  cursor: url("");
}

@media only screen and (max-width: 768px) {
  #technology .col-lg-5 {
    text-align: center;
  }
  #technology .map p {
    font-size: 14px;
  }
}

#community_owned {
  padding: 200px 0 0;
  position: relative;
  overflow-y: hidden;
  z-index: 9;
}

#community_owned h2 {
  overflow-y: hidden;
  color: #1D1C3A;
  font-weight: 900 !important;
  font-size: calc(max(3vw, 30px));
  line-height: 100%;
}

#community_owned .text-center {
  width: 90vw;
  max-width: 900px;
  margin: auto;
}

#community_owned .element_1 {
  animation: float 5s infinite ease-in-out;
  position: absolute;
  width: 200px;
  right: 10vw;
  top: 10vh;
  -webkit-animation: float 5s infinite ease-in-out;
}

#community_owned .element_2 {
  position: absolute;
  width: 200px;
  left: 10vw;
  animation: float 3s infinite ease-in-out;
  -webkit-animation: float 3s infinite ease-in-out;
}

@media only screen and (max-width: 768px) {
  #community_owned .element_1 {
    position: absolute;
    width: 100px;
    right: 6vw;
    top: 3vh;
  }
  #community_owned .element_2 {
    position: absolute;
    width: 100px;
    left: 5vw;
    top: 12vh;
  }
}

#half_float {
  position: relative;
}

#half_float .light {
  background: #FAF7F1;
  height: 200px;
  width: 100%;
}

#half_float .dark {
  background: #1D1C3A;
  height: 200px;
  width: 100%;
}

#half_float .element_3 {
  position: absolute;
  width: 250px;
  right: 25vw;
  top: 20%;
  z-index: 9;
  animation: float 4s infinite ease-in-out;
  -webkit-animation: float 4s infinite ease-in-out;
}

@media only screen and (max-width: 768px) {
  #half_float .light, #half_float .dark {
    height: 100px;
  }
  #half_float .element_3 {
    width: 150px;
    top: 10%;
  }
}

footer {
  padding: 0px 0 80px;
  background-color: #1D1C3A;
}

footer .text-center {
  padding-bottom: 100px;
}

footer .text-center h2 {
  text-align: center;
  color: #FAF7F1;
  font-size: calc(max(3vw, 30px));
  overflow-y: hidden;
}

footer .text-center h2 b {
  color: #308CF5;
}

footer .info p {
  color: #FAF7F1;
  font-size: 22px;
}

footer .info a {
  color: #FAF7F1;
  font-size: 18px;
}

footer .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

footer .right p {
  color: #FAF7F1;
  font-size: 18px;
  margin: 0;
}

@media only screen and (max-width: 768px) {
  footer .logo {
    width: 70%;
    margin-bottom: 30px;
  }
  footer .col-12 {
    text-align: center;
  }
  footer .right {
    margin-top: 50px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
/*# sourceMappingURL=style.css.map */